# compiled binaries
src/nm/nm
src/ss/ss
src/client/client
build/

# object files
*.o
*.out

# test files (keep folder, ignore contents)
src/ss/files/*
!src/ss/files/.gitkeep

# OS/editor junk
.DS_Store
*.swp
.vscode/ 